<!DOCTYPE html>
<html>
  <head>
  <title>Couch-Concierge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
<body>

<div data-role="page">

  <!-- <div data-role="header">
    <h1>Concierge Desk</h1>
  </div><!-- /header -->

  <div data-role="content">


  <h2><%= link_to "Get Started", stories_path %></h2>
  </div><!-- /content -->
  <div data-role="footer" data-id="foo1" data-position="fixed">
      <div data-role="navbar">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Top", stories_path %></li>
          <li><%= link_to "Search", stories_path %></li>
        </ul>
      </div><!-- /navbar -->
    </div><!-- /footer -->

  </div><!-- /page -->

</body>
</html>