/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

$darkblue: #0F3F8C;
$lightblue: #56D7E8;
$purple: #5C428A;
$magenta: #E64598;
$green: #BAE37D;
$orange: #FF590D;

h1{
	color:$darkblue;
}

body{
  background-coler: $green !important; 
}

.ui-li-thumb{
  height:120px !important;
  width:75px !important;
  margin-top: 10px !important;
}

.ui-link-inherit{
  height: 70px !important;
  padding-left: 0px !important;
  white-space: normal !important;
}

.ui-li-heading{
  font-size:18px !important;
  color: $darkblue !important;
}

.ui-header .ui-bar-a{
  color: $darkblue !important;
}

.ui-block-b{
  margin-bottom:10px !important;
}

.ui-li-desc{
	white-space: normal !important;
	text-overflow: ellipsis !important;

}

.ui-bar-a{
	color:$lightblue !important;
}

.ui-btn-inner .ui-li .ui-li-static .ui-body-c{
  background: $orange !important;
  }

